<h2>Cart content</h2>

<ul>
  <%= for cart <- @cart do %>
    <li>
      <%= cart.item %>, <%= cart.quantity %>
    </li>
  <% end %>

  <%= link "Add item", to: Routes.cart_path(@conn, :new) %>
<ul>
