<h2>Cart content</h2>

<ul>
  <%= for cart <- @cart do %>
    <li>
      <%= cart.item %>, <%= cart.quantity %>
      <%= link "edit", to: Routes.cart_path(@conn, :edit, cart) %>
    </li>
  <% end %>

  <%= link "Add item", to: Routes.cart_path(@conn, :new) %>
<ul>
