<h1> New test form </h1>
<%= form_for @changeset, Routes.cart_path(@conn, :create), fn f -> %>

    <%= label f, :item %>
    <%= text_input f, :item, placeholder: "Enter item" %>
    <%= error_tag f, :item %>

    <%= label f, :quantity %>
    <%= text_input f, :quantity, placeholder: "Enter quanity" %>
    <%= error_tag f, :quantity %>

    <%= submit "Add to cart" %>

    <%= link "Back", to: Routes.cart_path(@conn, :index) %>
<%end %>
